//fonts

$rosario: 'Rosario', sans-serif;
$oswald: 'Oswald', sans-serif;

//colors

$white: #FFFFFF;
$black: #262626;

$nia-green: #33EE88;
$nia-light: #E3E7E5;
$nia-dark: #343B5C;

//layout values

$header-search-height: 8rem;
