<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>WeebDepository</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <section class="header">
        <nav>
            <div class="logo">
                <a href="index.html"><img src="/static/styles/logo.png"></a>
            </div>
            
        </nav>

<div class = "login-box">
    

        <div class="container">
          <h1>Congratulations, your account is authenticated!</h1>

          <a href = "login">
            <button type="submit">Login</button>
          </a>
          </div>
   
</div>

    </section> 

</body>
</html>