<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>WeebDepository</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <section class="header">
        <nav>
            <div class="logo">
                <a href="index.html"><img src="/static/styles/logo.png"></a>
            </div>

            <div class="pagename">
                <h1>
                    TRENDING
                </h1>
            </div>

        </nav>

    </section> 



</body>
</html>