//fonts

$rosario: 'Rosario', sans-serif;
$oswald: 'Oswald', sans-serif;

//colors

$white: #FFFFFF;
$black: #262626;

$nia-pink: #007389;
$nia-blue-light: #FFBDD7;
$nia-blue-dark: #1464AB;

//layout values

$header-search-height: 8rem;
