@import '../styles/variables';
@import '../styles/mediaqueries';
@import '../styles/mixins';

.page {
    overflow-x: hidden;
    background: $white;
}

.info_top {
    position: relative;
    width: 100%;
    //this should change when layout shifts to row
    padding-bottom: 35%;

    background: $nia-pink;
    background-image: linear-gradient(to top right,
        $nia-pink,
        rgba($nia-pink, 0.7)
    ), 
    url('../images/bg_mushishi.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: $white;

    border: none;
}

.info_top_title {
    padding: 0 7%;
    padding-top: 5rem;
    margin-bottom: 2rem;

    & > h1 {
        font-size: 2.75rem;
        font-weight: 600;
    }
    & > h2 {
        font-size: 2.5rem;
        color: rgba($white, 0.8);
    }
}

.info_top_clip {
    position: absolute;
    bottom: -0.5%;
    left: 0;
    width: 100%;
    height: auto;
}

.info_top_layout {
    display: flex;
    flex-direction: column;
    margin-left: 7%;

    @include respond(tablet) {
        flex-direction: row;
        margin-right: 7%;
    }
}

.info_basic {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;

    @include respond(tablet) {
        width: 60%;
        margin-bottom: 0;
    }
}

.info_card {
    display: flex;
    flex-direction: row;

    & > img {
        width: 13rem;
        height: 22rem;

        @include respond(landscapePhone) {
            width: 16rem;
            height: 25rem;
        }

        border: 2px solid $white;
        border-radius: 20px 0px 20px 0px;

        margin-right: 1rem;
    }
}

.info_card_stats {
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-family: $oswald;
    line-height: 120%;

    & > div:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.info_trailer_mini {
    @include btnOutline($white);

    width: 13rem;
    @include respond(landscapePhone) {
        width: 16rem;
    }

    & > a {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        border: 2px solid rgba($white, 0.8) !important;
        color: rgba($white, 0.8) !important;
        background: rgba($black, 0.2);
        cursor: default;
    }
}

.info_trailer_full {
    width: 40%;
    position: relative;
    border: 2px solid $white;
}

.info_trailer_full_unavailable {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 40%;

    color: $white;

    border: 2px solid $white;

    background: linear-gradient(to bottom left,
        rgba($black, 0.5),
        rgba($nia-pink, 0.6),
        rgba($nia-pink, 0.8)
    );

    & > div {
        font-size: 10rem;
        font-weight: 600;
        border: 8px solid $white;
        border-radius: 50%;

        text-align: center;
        width: 14rem;
        height: 14rem;
        margin: 0 auto;

        margin-bottom: 1rem;
    }
    & > span {
        text-align: center;
        font-size: 3rem;
    }
}

.summary {
    padding: 0 7%;
    line-height: 2.6rem;

    color: $nia-pink;

    transform: translateY(-5rem);
    @include respond(landscapePhone) {
        transform: translateY(-10rem);
    }
    @include respond(tablet) {
        transform: translateY(-15rem);
        padding: 0 15%;
    }
    @include respond(laptop) {
        transform: translateY(-20rem);
    }

    z-index: 500;

    & > h3 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    & > p {
        font-size: 2.2rem;
    }
}

.info_bottom {
    position: relative;
    height: 20rem;

    margin-top: -3.5rem;
    @include respond(landscapePhone) {
        margin-top: -8rem;
    }
    @include respond(tablet) {
        margin-top: -13rem;
    }
    @include respond(laptop) {
        margin-top: -18rem;
    }

    background: $nia-pink;

    display: flex;
    flex-direction: column;

    z-index: 1;

    & > img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 10rem;
        height: 10rem;

        @include respond(landscapePhone) {
            width: 12rem;
            height: 12rem;
        }
    }
}

.info_bottom_border {
    width: 100%;
    height: 40%;
    background: $white;
    border-radius: 0px 0px 80px 0px;
}

.related_links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;

    margin: 0 auto;

    height: 50%;
    width: 100%;
    @include respond(landscapePhone) {
        width: 75%;
    } 

    & > button {
        @include btnOutline($white);

        & > a {
            color: inherit;
            text-decoration: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:disabled {
            border: 2px solid rgba($white, 0.8) !important;
            color: rgba($white, 0.8) !important;
            background: rgba($black, 0.2);
            cursor: default;
        }
    }
}